<h2>Edit Task</h2>
<br>
<div class="row">
  <div class='alert-danger col-sm-3'><%= render 'errors/error_messages' %></div>
</div>
<%= form_for @task do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: 'form-control' %><br>
    </div>
    <div class="col-sm-4">
      <%= f.label :due_date,"Due Date" %>
      <%= f.date_field :due_date, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <%= f.label :complete, "Complete" %>
      <%= f.check_box :complete, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%= f.label :priority, "Priority" %>
      <%= f.number_field :priority, in:1..5, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%= f.label :points, "Points" %>
      <%= f.number_field :points, in:0..10, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :project_id, "Project" %>
      <%= f.collection_select :project_id, @projects, :id, :name, {}, class: 'form-control' %>
    </div>
    <!--<%= f.fields_for :category do |c| %>
          <div class="col-sm-3 text-center"><%= c.text_field :name, list: "categories_autocomplete", class: 'form-control' %></div>
          <datalist id="categories_autocomplete">
            <% @categories.all.each do |category| %>
              <option value="<%= category.name %>">
            <% end %>
          </datalist>
        <% end %> -->
    <div class="col-sm-6">
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, { :class => 'form-control' } %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
