<h2>Edit Task Form</h2>
<div class="row">
  <div class='alert-danger col-sm-3'><%= render 'errors/error_messages' %></div>
</div>
<%= form_for @task do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name, class: 'form-control' %><br>
  <%= f.label :due_date,"Due Date" %>
  <%= f.date_field :due_date %><br>
  <%= f.label :status,"Status" %>
  <%= f.check_box :status, class: 'form-control' %><br>
  <%= f.label :priority,"Priority" %>
  <%= f.number_field :priority, in:1..5, class: 'form-control' %><br>
  <%= f.label :points, "Points" %>
  <%= f.number_field :points, in:0..10, class: 'form-control' %><br>
  <%= f.label :project_id, "Project" %>
  <%= f.collection_select :project_id, @projects, :id, :name, class: 'form-control' %><br>
  <!--<%= f.fields_for :category do |c| %>
        <div class="col-sm-3 text-center"><%= c.text_field :name, list: "categories_autocomplete", class: 'form-control' %></div>
        <datalist id="categories_autocomplete">
          <% @categories.all.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        </datalist>
      <% end %> -->
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, @categories, :id, :name, html: { :class => 'form-control' } %><br>
  <%= f.submit %>
<% end %>
