<h2>Task List</h2>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, task %> | <%= task.status ? "Complete" : "Incomplete" %> | <%= link_to task.project.name, task.project %> | (Priority <%= task.priority %>)</li>
  <% end %>
</ul>
<br>
<%= button_to "Add Task", new_task_path, method: :get, class: 'btn btn-primary' %>
