<h2>New Task Form</h2>
<%= render 'errors/error_messages' %>
<%= form_for @task do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :due_date,"Due Date" %>
  <%= f.date_select :due_date %><br>
  <%= f.label :priority,"Priority" %>
  <%= f.number_field :priority, in:1..5 %><br>
  <%= f.label :project_id, "Project" %>
  <%= f.collection_select :project_id, @projects, :id, :name %><br>
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, @categories, :id, :name %><br>
  <%= f.submit %>
<% end %>
