<h2>Task Name: <%= @task.name %></h2>
<div class="row">
  <div class="col-sm-6">
    <h3>Task Due Date: <%= @task.due_date.strftime("%D") %></h3>
  </div>
  <div class="col-sm-6 text-right">
    <% if @task.complete %>
      <h3>Date Complete: <%= @task.complete_date.strftime("%D") %></h3>
    <% end %>
  </div>
</div>
<h3>Task complete: <%=@task.complete ? "Complete" : "Incomplete" %></h3>
<h3>Task Priority: <%= @task.priority %></h3>
<h3>Task Project: <%= link_to @task.project.name, @task.project %></h3>
<h3>Task Category: <%= link_to @task.category.name, @task.category %></h3>
<br>
<h4>Task created by: <%= @task.user.user_name %></h4>
<br>
<div class="btn-group-vertical">
  <%= link_to "Edit Task", edit_task_path(@task.id), method: :get, class: 'btn btn-primary' %>
  <%= link_to "Delete Task", @task, method: :delete, class: 'btn btn-primary', data: {confirm: "Are you sure?"} %>
</div>
