<h2><%= @task.name %></h2>
<div class="row">
  <div class="col-sm-8">
    <h3>Due Date: <%= @task.due_date.strftime("%D") %></h3>
    <h3>Priority: <%= @task.priority %></h3>
    <% if !@task.complete %>
      <h3>Incomplete</h3>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% if @task.complete %>
      <h3>Completed on: <%= @task.complete_date.strftime("%D") %></h3>
    <% end %>
    <h3>Project: <%= link_to @task.project.name, @task.project %></h3>
    <h3>Category: <%= link_to @task.category.name, @task.category %></h3>
  </div>
</div>
<!-- <h4>Task created by: <%= @task.user.user_name %></h4> -->
<br>
<div class="btn-group-vertical">
  <%= link_to "Edit Task", edit_task_path(@task.id), method: :get, class: 'btn btn-primary' %>
  <%= link_to "Delete Task", @task, method: :delete, class: 'btn btn-primary', data: {confirm: "Are you sure?"} %>
</div>
