<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h4>Username: <%= @user.user_name %></h4>
<h4>Email: <%= @user.email %></h4>
<br>
<h4>Number of Projects: <%= @user.projects.select {|project| !project.status }.count %></h4>
<h4>Number of Projects Completed: <%= @user.projects.select {|project| project.status }.count %></h4>
<br>
<h4>Number of Tasks: <%= @user.tasks.select {|task| !task.status }.count %></h4>
<h4>Number of Tasks Copleted: <%= @user.tasks.select {|task| task.status }.count %></h4>
<h4>Experience: <%= @user.experience %></h4>
