<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h4>Username: <%= @user.user_name %></h4>
<h4>Email: <%= @user.email %></h4>
<h4>Level: <%= @user.level %></h4>
<h4>Experience: <%= @user.experience %></h4>
