<div class="row">
  <div class="col-sm-6">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
  <div class="col-sm-6 text-right">
    <h3>Level <%= @user.level %></h3>
    <h4>Exp: <%= @user.experience %> / <%= @user.next_level %></h4>
  </div>
</div>

<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h4>Username: <%= @user.user_name %></h4>
<h4>Email: <%= @user.email %></h4>
<br>
<h4>Number of Incomplete Projects: <%= @user.projects.select {|project| !project.complete }.count %></h4>
<h4>Number of Complete Projects: <%= @user.projects.select {|project| project.complete }.count %></h4>
<br>
<h4>Number of Incomplete Tasks: <%= @user.tasks.select {|task| !task.complete }.count %></h4>
<h4>Number of Complete Tasks: <%= @user.tasks.select {|task| task.complete }.count %></h4>
