<h2>New Project</h2>
<div><%= render 'errors/error_messages' %></div>
<%= form_for @project do |f| %>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name, class: 'form-control' %><br>
  <%= f.label :points %>
  <%= f.number_field :points, in:1..20, class: 'form-control' %><br>
  <%= f.label :tasks %>
  <div class="row">
    <div class="col-sm-3 text-center">Name</div>
    <div class="col-sm-1 text-center">Priority</div>
    <div class="col-sm-4 text-center">Due Date</div>
    <div class="col-sm-3 text-center">Category</div>
  </div>
  <%= f.fields_for :tasks do |task| %>
    <div class="form-group row">
      <div class="col-sm-3 text-center"><%= task.text_field :name, class: 'form-control' %></div>
      <div class="col-sm-1 text-center"><%= task.number_field :priority, in:1..5, class: 'form-control' %></div>
      <div class="col-sm-4 text-center"><%= task.date_field :due_date, class: 'form-control' %></div>
      <%= task.fields_for :category do |c| %>
        <div class="col-sm-3 text-center"><%= c.text_field :name, list: "categories_autocomplete", class: 'form-control' %></div>
        <datalist id="categories_autocomplete">
          <% @categories.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        </datalist>
      <% end %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
