<h2>New Project Form</h2>
<%= render 'errors/error_messages' %>
<%= form_for @project do |f| %>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :points %>
  <%= f.number_field :points, in:1..20 %><br>
  <%= f.label :tasks %>
  <div class="row">
    <div class="col-sm-2">Name</div>
    <div class="col-sm-1">Priority</div>
    <div class="col-sm-3">Due Date</div>
    <div class="col-sm-3">Category</div>
  </div>
  <%= f.fields_for :tasks do |task| %>
    <div class="row">
      <div class="col-sm-2"><%= task.text_field :name %></div>
      <div class="col-sm-1"><%= task.number_field :priority, in:1..5 %></div>
      <div class="col-sm-3"><%= task.date_select :due_date %></div>
      <%= task.fields_for :category do |c| %>
        <div class="col-sm-3"><%= c.text_field :name, list: "categories_autocomplete" %></div>
        <datalist id="categories_autocomplete">
          <% Category.all.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        </datalist>
      <% end %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
