<h2>New Project Form</h2>
<%= form_for @project do |f| %>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :points %>
  <%= f.number_field :points, in:1..20 %><br>
  <%= f.submit %>
<% end %>
