<h2>New Project Form</h2>
<%= render 'errors/error_messages' %>
<%= form_for @project do |f| %>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :points %>
  <%= f.number_field :points, in:1..20 %><br>

  <%= f.fields_for :tasks do |task| %>
    <%= task.label :name %>
    <%= task.text_field :name %>
    <%= task.label :priority %>
    <%= task.number_field :priority, in:1..5 %>
    <%= task.label :due_date %>
    <%= task.date_select :due_date %>
<<<<<<< HEAD
    <%= task.fields_for :category do |c| %>
      <%= c.label :name, "Category" %>
      <%= c.text_field :name, list: "categories_autocomplete" %><br>
      <datalist id="categories_autocomplete">
        <% Category.all.each do |category| %>
          <option value="<%= category.name %>">
        <% end %>
      </datalist>
    <% end %>
=======
    <%= task.label :category_id, "Category" %>
    <%= task.collection_select :category_id, @categories, :id, :name %> <%= link_to "Create Category", new_category_path, method: :get %><br>
>>>>>>> Nemanja
  <% end %>

  <%= f.submit %>
<% end %>
