<!DOCTYPE html>
<html>
  <head>
    <title>Gitterdun</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'colormind-material-dashboard' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Git'erDun</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/tasks">Tasks</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if logged_in? %>
              <%= link_to "Exp: #{current_user.experience}/#{current_user.next_level}", current_user %>
            <% end %>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to current_user.first_name, current_user %>
            <% else %>
              <%= link_to "Sign Up", signup_path %>
            <% end %>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to "Log Out", logout_path, method: :post %>
            <% else %>
              <%= link_to "Log In", login_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="jumbotron">
        <%= yield %>
      </div>
    </div>
    <footer class="page-footer center-on-small-only">
      <div class="footer">
        <div class="container-fluid">
          &#169; 2018 krandrakula, this site is in no way affiliated with Larry the Cable Guy
        </div>
      </div>
    </footer>
  </body>
</html>
